body{
    margin: 0;
    font-family: 'Fraunces', serif;
}
#main1{
    background-image: url(images/desktop/image-header.jpg);
    background-size:cover;
    width: 100vw;
    height: 700px;
    position: static;
    display: inline-block;
}
#logo1{
    display: inline-block;
    position: absolute;
    top: 36px;
    margin-left: 42px;
}
#logo2{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 44%;
}
#logo22{
    filter: invert(54%) sepia(96%) saturate(273%) hue-rotate(94deg) brightness(80%) contrast(95%);
}
#nav{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 26px;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}
#nav-item{
    margin-right: 42px;
    color: white;
}
#nav-button{
    margin-right: 42px;
    padding: 20px 20px;
    border-radius: 18px;
    border: none;
    font-weight: bolder;
    color: hsl(198, 62%, 26%);
    background-color: white;
}
#nav-button:hover{
    color: white;
    background-color: rgba(118, 199, 236, 0.7);
}
#nav-item:hover{
    cursor: pointer;
    color: hsl(198, 62%, 26%);
}
#footer-nav{
    position: absolute;
    top: 38%;
    left: 40%;
}
/** for the nav bar **/

.bg-color{
    background-color: rgba(118, 199, 236, 0);
}
.btn{
    border-radius: 15px !important;
    width: 12rem;
    background-color: white !important;
    color: black !important;
    font-family: 'Times New Roman', Times, serif;
    border: solid 1px skyblue !important;
}
.btn:hover{
    background-color: rgba(118, 199, 236, 0.7) !important;
    color: white !important;    
}
.grid{
    display: grid;
    gap: 0px 0px;
    grid-template-columns: auto auto;
}
.column{
    display: grid;
    gap: 0px 0px 0px 0px;
    width: 25%;
    grid-template-columns: auto auto auto auto;   
}
h2{
    font-family: 'Fraunces', serif;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


#footer-item{
    margin-right: 42px;
    color: hsl(167, 40%, 24%);
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}
#landing-page-title{
    position: absolute;
    top: 150px;
    left: 32%;
    font-size: 36px;
    letter-spacing: 6px;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
#arrow-down{
    position: absolute;
    top: 46%;
    left: 49%;
}
#main2{
    background-color: white;
    width: 49.22vw;
    height: 500px;
    display: inline-block;
    position: relative;
}
#main2-title{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 28px;
    width: 400px;
}
#main2-desc{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: justify;
    opacity: 0.6;
}
#learn-more{
    font-size: 16px;
    text-decoration: underline hsl(50, 89%, 75%) 6px;
    letter-spacing: 1px;
}
#learn-more:hover{
    cursor: pointer;
    text-decoration: underline hsl(51, 100%, 49%) 6px;

}
#main4-title{
    position: absolute;
    top: 30%;
    left: 120%;
    font-size: 28px;
    width: 400px;
}
#main4-desc{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: justify;
    opacity: 0.6;
}
#learn-more2{
    font-size: 16px;
    text-decoration: underline hsl(7, 96%, 82%) 6px;
    letter-spacing: 1px;
}
#learn-more2:hover{
    cursor: pointer;
    text-decoration: underline hsl(7, 99%, 70%) 6px;
}
#main6-title{
    position: absolute;
    top: 350px;
    left: 22%;
    font-size: 20px;
    width: 400px;
    z-index: 5;
    text-align: center;
    color: hsl(167, 40%, 24%);
}
#main6-desc{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: center;
}
#main7-title{
    position: absolute;
    top: 350px;
    left: 22%;
    font-size: 20px;
    width: 400px;
    z-index: 5;
    text-align: center;
    color: hsl(198, 62%, 26%);
}
#main7-desc{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-align: center;
}
#main8-title{
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    text-align: center;
    font-family: 'Fraunces', serif;
    position: relative;
    top: 15%;
    letter-spacing: 4px;
}
#main3{
    background-image: url(images/desktop/image-transform.jpg);
    width: 49.22vw;
    height: 600px;
    display: inline-block;
}
#main4{
    background-image: url(images/desktop/image-stand-out.jpg);
    width: 49.22vw;
    height: 600px;
    display: inline-block;
    position: relative;
    top: -4px;
}
#main5{
    background-color: white;
    width: 49.22vw;
    height: 500px;
    display: inline-block;
}
#main6{
    background-image: url(images/desktop/image-graphic-design.jpg);
    width: 49.22vw;
    height: 600px;
    display: inline-block;
    position: relative;
    top: -8px;
    padding-right: 0px;
}
#main7{
    background-image: url(images/desktop/image-photography.jpg);
    width: 49.22vw;
    height: 600px;
    display: inline-block;
    position: relative;
    top: -8px;
    left: -4px;
}
#main8{
    background-color: white;
    width: 100vw;
    height: 600px;
    display: inline-block;
}
#client1{
    height: 300px;
    width: 300px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 17%;
    display: inline-block;
}
#client2{
    height: 300px;
    width: 300px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 17%;
    display: inline-block;
}
#client3{
    height: 300px;
    width: 300px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 18%;
    display: inline-block;
}
#client-image{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
#client-comment{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 26px;
}
#client-job{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 12px;
    margin-top: -4px;
}
#main9{
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    width: 24.46vw;
    height: 400px;
    display: inline-block;
    position: relative;
    top: -4px;
    right: -4px;
}
#main10{
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    width: 24.46vw;
    height: 400px;
    display: inline-block;
    position: relative;
    top: -4px;
    left: 1px;
}
#main11{
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    width: 24.46vw;
    height: 400px;
    display: inline-block;
    position: relative;
    top: -4px;
    left: -2px;
}
#main12{
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    width: 24.46vw;
    height: 400px;
    display: inline-block;
    position: relative;
    top: -4px;
    left: -6px; 
}
footer{
    width: 100vw;
    height: 350px;
    background-color: hsl(168, 37%, 60%);
    position: relative;
    top: -8px;
}
#footer-icons{
    position: relative;
    top: 69%;
    left: 43.5%;
}
#footer-icon{
    margin-right: 16px;
}
#footer-item:hover{
    color: white;
    cursor: pointer;
}
#footer-icon:hover{
    color: white;
    cursor: pointer;
    filter:  brightness(0) invert(1);
}


