body{
    margin: 0;
    font-family: 'Fraunces', serif;
}

.btn-primary{
    background-color: white !important;
}
.carousel {
    margin-bottom: rem;
}

.carousel-caption{
    bottom: 15rem !important;
    z-index: 10;
    
}

.carousel-item {
    height: 32rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
}

.welcome-carousel-image1{
    background-image: url('images/desktop/image-header.jpg');
}

.row1{
    display: inline;
    height: 50vh;
}
.row1col2{
    background-image:url(images/desktop/image-transform.jpg);
    background-size: cover;
}

.row2{
    margin: 5px;
    display: inline;
    height: 50vh;
}
.row2col1{
    background-image:url(images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

.row3{
    display: inline;
    height: 45vh;
}

.row3col1 {
    background-image:url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

.row3col2{
    background-image:url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

.row3col1 h2, .row3col2 h2{
    margin-top: 38%;
}

.row4{
    margin-top: 50px;
}

#main8-title{
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    text-align: center;
    font-family: 'Fraunces', serif;
    position: relative;
    top: 15%;
    letter-spacing: 4px;
}

#client-image{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

#client-comment{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 26px;
}
#client-job{
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 12px;
    margin-top: -4px;
}

footer{
    width: 100vw;
    height: 350px;
    background-color: hsl(168, 37%, 60%);
    position: relative;
    top: 0;
}

#logo2{
    margin: auto;
}

#footer-nav{
    margin: auto;
}
#footer-link{
    margin: auto;
}
#footer-item{
    padding-left: 20px;
}

#footer-icons{
    position: relative;
    top: 69%;
    left: 43.5%;
}
#footer-icon{
    margin-right: 16px;
}

#footer-item:hover{
    color: white;
    cursor: pointer;
}
#footer-icon:hover{
    color: white;
    cursor: pointer;
    filter:  brightness(0) invert(1);
}

@media only screen and (max-width: 576px){
    .btn-primary{
        background-color: yellow !important;
    }
    .row1{
        display: flexbox !important;
        display: inline;
        height: 80vh;

    }
    .row1col2{
        background-image:url(images/mobile/image-transform.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .row2{
        display: flexbox !important;
        display: inline;
        height: 70vh;

    }
    .row2col1{
        background-image:url(images/mobile/image-stand-out.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }

    .row3{
        display: flexbox !important;
        display: inline;
        height: 90vh;

    }
    .row4{
        margin-top: 70px;
        display: flex;
    }
    .row4{
        padding-left: auto;
    }
    .row3col1{
        background-image:url(images/desktop/image-graphic-design.jpg);
        background-repeat: no-repeat;
        background-size: 100% 40vh;
    }
    .row3col2{
        background-image:url(images/desktop/image-photography.jpg);
        background-repeat: no-repeat;
        background-size: 100% 40vh;
    }
    #main8-title{
        top: 15%;
        letter-spacing: 4px;
    }
    .nav1{
        background-color: white !important;
        color: black !important;
    }
    .nav1 li a {
        color: black !important;
    }
}
